@font-face
{
	font-family: 'allura';
	src: url('polices/Allura-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
.nom
{
	text-align: center;
	color: rgb(54,11,108);
	font-weight: bolder;
	border: 1px solid rgb(132,48,235);
	padding: 5px;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	border-radius: 10px ;
}

h2
{
	color: rgb(132,48,235);
	text-shadow: 0.1em 0.1em 0.2em rgb(54,11,108);

}
body
{
	background-image: url("fond.jpg");
}
.photo
{
	text-align: center;
	
}
.titre
{
	text-align: center;
	color: rgb(54,11,108);
	font-weight: bolder;
	font-family: allura, sans-sherif;
}
.aside1
{
	margin-left: 0;
	width: 70px;
}
.aside2
{
	margin-left: auto;
	margin-right: auto;
	width: 70px;
}
.aside3
{
	height: 500px;
	width: 150px;
	float: right;
	bottom: 0px;
	right: 0px;
}
.navi
{
	background-color: white;
	height: 500px;
	width: 200px;
	position: static;
}